.link {
color : blue ;
font-family: 'Roboto', sans-serif;
text-decoration: none;

}

.btn {
border-style : none;
background-color : white;
foreground-color : black;
}

body {
font-family: 'Roboto', sans-serif;

}
