.link {
color : blue ;
font-family: 'Roboto', sans-serif;
text-decoration: none;

}

.body {
font-family: 'Roboto', sans-serif;
max-width: 1250px;
margin: auto;
padding: 10px;

}

.btn {
background-color: white;
border: none;
}
