.link {
color : blue ;
font-family: 'Roboto', sans-serif;
text-decoration: none;

}

.btn {
border-style : none;
background-color : white;
foreground-color : black;
}

.body {
font-family: 'Roboto', sans-serif;

}


.pro {
  text-align: left;
  font-family: 'Roboto', sans-serif;
}

.cons {
  text-align: right;
  font-family: 'Roboto', sans-serif;
}

.btndiv{
  text-align: center;
}

.btndiv.scrollbar{
  background-color: rgba(255,255,255,0);
  overflow: auto;
  white-space: nowrap;
}


